name: Teste de Integração

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do código
      uses: actions/checkout@v2
      
    - name: Configurar ambiente Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Executar Testes
      run: python test_divisao.py
